.gallery {
    margin: 2rem 0;
    display: grid;
    grid-gap: $base-radius;
    grid-template-areas:
        "img1 img2 img2"
        "img3 img3 img4"
        "img5 img6 img4";

    &__img img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    &__img--1 {
        grid-area: img1;
    }

    &__img--2 {
        grid-area: img2;
    }

    &__img--3 {
        grid-area: img3;
    }

    &__img--4 {
        grid-area: img4;
    }

    &__img--5 {
        grid-area: img5;
    }

    &__img--6 {
        grid-area: img6;
    }
}